body, html {
    padding: 0px;
    margin: 0px;
    height: 100%;
    width:100%;
}

* {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);    
    outline: none;
}

/* Portrait */
@media screen and (orientation:portrait) {
    /* Portrait styles */
}

/* Landscape */
@media screen and (orientation:landscape) {

}